#room-booking {
  input,
  select {
    @apply border border-gray-200 w-full;

    &:focus {
      @apply outline-none;
    }
  }

  .step-navigation {
    &__progress {
      position: relative;
      @apply transition-all duration-200;

      &:not(:first-child):before {
        position: absolute;
        content: "";
        height: 3px;
        background: #c2c2c2;
        width: 100%;
        top: 30%;
        left: -50%;
      }

      &.active {
        & > span:first-child {
          @apply border-blue-800 bg-blue-900;

          svg {
            fill: #fff;
          }
        }

        span {
          &:last-child {
            @apply text-blue-900;
          }
        }

        &:before {
          @apply bg-blue-900;
        }
      }
    }
  }

  .room-item{
    @apply border-gray-200 hover:border-green-400 border;

    &.active{
      @apply border-green-400 border-2;
    }
  }

}
